{% extends "_template/public.twig" %}

{% block title message~' :: '~parent() %}

{% block main %}
<div class="block has-text-centered has-text-left-desktop">
    <h1 class="title">{{ message }}</h1>
    <h2 class="subtitle">Erro {{ code }}</h2>
    <div class="content">
        <p>
            <a href="/">
                <span class="icon">
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span>voltar à página inicial</span>
            </a>
        </p>
    </div>
</div>
{% endblock main %}