{% extends "_template/public.twig" %}

{% block title 'Login - '~parent() %} {# prepend #}

{% block main %}
<div class="columns is-centered">
    <div class="column is-8 is-6-tablet is-4-desktop">
        <div class="box">
            {% include "_message.twig" %}
            {% include "_forms/login.twig" %}
        </div>
        <div class="block has-text-centered">
            <a href="/">
                <span class="icon">
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span>voltar à página inicial</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}